:root {
    margin: auto;
}
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol, li {
    list-style: none;
}

body {
    font-family: sans-serif;
    background: #fff;
}

/* Header */

header {
    height: 52vw;
    background: url(../img/header_truck.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header section {
    height: 52vw;
    color: white;
    display: grid; 
    grid-template-columns: 2.3fr 6fr 5fr;
    grid-template-rows: 2fr 4fr 3fr 2fr;  
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 1.3vw;
    color: #fff;
    font-weight: 400;
    position: relative;
    top: 3.3vw;
    left: 0.8vw;
    right: 0.5vw;
    cursor: pointer;
    transition: 0.2s;
}

.material-icons-outlined:hover {
    color: red;
}

.logo {
    width: 10vw;
    position: relative;
    top: 2.9vw;
    left: 5.2vw;
    cursor: pointer;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05, 1.05);
}

/* Menu */
.menu ul li {
    position: relative;
    height: 0.9vw;
    font-size: 0.8vw;
    font-weight: 600;
    top: 3vw;
    padding-right: 1vw;
    justify-content: space-between;
    text-transform: uppercase;
    list-style: none;
    font-stretch: ultra-condensed;
    display: inline-block;
}

.menu ul li:nth-of-type(7) {
    left: 2vw;
    width: 8.8vw;
    position: relative;
    padding: 0.8vw;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.menu ul li:nth-of-type(7):hover {
    transform: none;
}

.menu {
    grid-column: 2/4;
    margin-left: 30vw;
    grid-row: 1;
}

.menu ul li a {
    color: #fff;
    transition: 0.2s;
}

.menu ul li a:hover,
.menu ul li:active {
    color: red;
    transform: scale(1.05, 1.05);
}

/* Section */

section>a {
    font-size: 0.8vw;
    color: #fff;   
    justify-content: center;
    padding: 0.3vw;
    font-weight: 600;
}

.button1:hover,
.button1:active {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.2s ease-in, border-color 0.3s ease-in;
}

.head-text {
    grid-column: 2;
    width: 40vw;
    grid-row: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.1vw 0.1vw 0.1vw black;
}

.head-text>p:first-of-type {
    position: relative;
    font-size: 1.5vw;
    top: 2vw;
}

.head-text>:nth-of-type(2) {
    position: relative;
    width: 38vw;
    height: 12.5vw;
    font-size: 4.8vw;
    font-weight: 800;
    text-transform: uppercase;
    top: 2vw;
}

.head-text>:nth-of-type(3) {
    position: relative;
    width: 30vw;
    height: 3.1vw;
    font-size: 0.9vw;
    font-weight: 400;
    width: 30vw;
    line-height: 2vw;
    top: 2vw;
}

.button2 {
    grid-column: 2;
    grid-row: 3;
    top: 4vw;
    position: relative;
    width: 12vw;
    height: 2.5vw;
    display: grid;
    align-items: center;
    background-color: rgb(200, 0, 0);
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.button2:hover,
.button2:active {
    background-color: rgb(212, 14, 14); 
    background-color: rgba(99, 11, 11, 0.8);
    border-color: rgb(134, 13, 13);
    transition: background-color 0.2s ease-in, border-color 0.3s ease-in;
}

header div:nth-of-type(5){
    width: 10vw;
    height: 1.6vw;
    text-align: center;
    color:white;
    padding-top: 1.6vw;
    margin-top: 1.6vw;
    margin-left: 48vw;
}
header div:nth-of-type(5) span:first-of-type{
    padding: 0.2vw;
    font-size: 1.2vw;
    color:red;
}
header div:nth-of-type(5) span:nth-of-type(2){
    font-size: 1vw;
    padding-right: 0.4vw;
}

.page-slider {
    grid-column: 2/3;
    grid-row: 3;
    top: 12vw;
    left: 30vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    color:#fff;
    text-decoration: none;
}

/* Slider */

.slider-left,
.slider-right {
    position: relative;
    color: #fff;
    font-size: 1vw;
    top: -0.2vw;
}

.slider-left {
    left: -0.5vw;
}

.slider-right {
    left: 0.5vw;
}

.slider-left:hover,
.slider-right:hover {
    color: red;
}

.page1 {
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(230, 0, 0);
}

.page3 {
    font-size: 1vw;
    position: relative;
    color: #fff;
    top: -0.4vw;
    font-weight: 400;
}

/* Main */

main {
    background-image: url(../img/world-dot.png);
    height: 30.2vw;
    background-size: 100%;
    background-repeat: no-repeat;
}

main>section {
    width: 62.5vw;
    height: 33vw;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 0.5vw 1.6vw;
    position: relative;
    top: -4vw;
    left: 18vw;
}

main>section div {
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    background-position: top;
    overflow: hidden;
    box-shadow: 0.1vw 0.1vw 5vw rgba(0, 0, 0, 0.205);
    transition: 0.3s;
    cursor: pointer;
}

main>section div:hover {
    transform: scale(1.05, 1.05);
}
main>section div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/first_card.jpg);
    background-size: 118%;
}

main>section div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1vw;
    font-weight: normal;
    color:black;
    margin-top: 4.5vw;
    height: 1vw;
    background: none;
    box-shadow: none;
}

main>section div:nth-child(2):hover {
    transform: none;
}
main>section div:nth-child(2) span {
    font-weight: bold;
    color: black;
}

main>section div:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/sea_freight.jpg);
    background-size: 140%;
}

main>section div:nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../img/air_freight.jpg);  
    background-size: 151%; 
}

main>section div:nth-child(5) {
    font-size: 0.8vw;
    text-align: end;
    text-transform: uppercase;
    color:black;
    margin-top: 4.5vw;
    background: none;
    box-shadow: none;
}

main>section div:nth-child(5):hover {
    transform: none;
}

main>section span {
    color: red;
}

main>section a {
    font-weight: bold;
    width: 10vw;
    height: 1vw;
    color: black;
    text-decoration: none;
    position: relative;
    top: 4.3vw;
    left: 10vw;
    text-transform: uppercase;
    transition: 0.2s;
}

main>section a:hover {
    transform: scale(1.02, 1.02);
}

main>section p:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2vw;
    padding-left: 1.6vw;
    margin-top: 14vw;
    color: black;
}

main>section hr {
    width: 2vw;
    margin-top: 0.5vw;
    margin-left: 1.6vw;
    border: none;
    color: red;
    background-color: rgb(195, 0, 0);
    height: 0.2vw;
}

main>section p:nth-of-type(2) {
    font-family: 'Times New Roman', Times, serif;
    width: 17vw;
    height: 3.6vw;
    font-size: 0.8vw;
    padding-left: 1.6vw;
    opacity: 0.5;
    line-height: 1.2vw;
    color: black;
    top: 0.5vw;
    position: relative;
}

/* Article */

article {
    background-color: white;
}

article>div {
    width: 61vw;
    height: 6.8vw;
    padding-top: 4.6vw;
    margin-left: 19.7vw;
    font-size: 1.2vw;
    text-align: center;
    color:black;
}

article>div:first-of-type {
    width: 55vw;
    height: 6.8vw;
    text-align: center; 
    padding-top: 4.6vw;
    line-height: 2.2vw;
    margin-left: 22vw;
    font-size: 1.2vw;
    color:black;
    opacity: 0.6;
}

article hr{
    width: 5.5vw;
    height: 0.1vw;
    top: 1vw;
    left: 47vw;
    position: relative;
    color: red;
    background-color: rgb(195, 0, 0);
    border: none;
}

/* Container */

#container {
    width: 76vw;
    height: 31vw;
    margin-top: 1.6vw;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 39vw repeat(2, 19.7vw);
    grid-template-rows: repeat(7, 3.6vw);
    grid-gap: 0.5vw 1.6vw;
    grid-auto-flow: column;
}
#container div {
    font-size: 1vw;
    text-align: left;
}

.about>div>a:hover, 
.about>div>a:active {
    color: rgb(195, 0, 0);
    opacity: 1;
}

.about>div {
    position: relative;
    top: 1.5vw;
    padding-right: 6vw;
    justify-content: space-around;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}

/* About */

.about {
    width: 34vw;
}

.about>div>a {
    color: black;
    font-weight: 600;
    opacity: 0.6;
}

.line {
	width: 28vw;
	height: 0.1vw;
	background: #ccc;
	margin-top: 2vw;
}

.thumb {
	width: 0.4vw;
	height: 0.4vw;
    border-radius: 50%;
	background: rgb(190, 0, 0);
	position: relative;
	left: 0vw;
	top: -0.15vw;
	transition: all 0.3s ease;
}

.about>div:nth-child(1):hover ~ .line .thumb {
	left: 3vw;
}

.about>div:nth-child(2):hover ~ .line .thumb {
	left: 16vw;
}

.about>div:nth-child(3):hover ~ .line .thumb {
	left: 29.5vw;
}

.about>div:nth-of-type(3) {
    padding-right: 0vw;
}

/* ABOUT US */

#container p:first-of-type {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 800;
    text-transform: uppercase;
}


#container p:nth-child(3) {
    grid-row: 4/5;
    width: 36vw;
    font-size: 1vw;
    text-align: left;
    color: black;
    opacity: 0.6;
    position: relative;
    top: -1vw;
    line-height: 1.5vw;
}

#container p:nth-child(4) {
    grid-row: 5/6;
    text-align: left;
    font-size: 1vw;
    line-height: 1.5vw;
    position: relative;
    width: 36vw;
    color: black;
    opacity: 0.6;
}

#container p:nth-child(5) {
    grid-row: 7;
    text-align: left;
    width: 10vw;
    height: 1vw;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    transition: 0.3s;
}

#container p:nth-child(5):hover {
    transform: scale(1.05, 1.05);
}

#container span {
    color:red;
    cursor: pointer;
}

#container div:nth-child(6) {
    grid-column: 2/3;
    grid-row: 1/8;
    position: relative;
    background-image: url(../img/logistics1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#container div:nth-child(7) {
    grid-column: 3/4;
    grid-row: 1/8;
    position: relative;
    background-image: url(../img/logistics_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}

#container div:nth-child(6):hover,
#container div:nth-child(7):hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.150);
}

/* Section_2 */

.section_2 {
    position: relative;
    top: 0;
}

.section_2 p:nth-child(1) {
    position: relative;
    color: white;
    top: 7vw;
    text-transform: capitalize;
    text-align: center;
    z-index: 300;
    font-size: 0.9vw;
}

.section_2 p:nth-child(2) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative;
    top: 8vw;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2vw;
    z-index: 300;
}

.section_2 hr {
    width: 5.5vw;
    height: 0.1vw;
    top: 9.6vw;
    left: 46.7vw;
    position: relative;
    background-color: rgb(195, 0, 0);
    border: none;
    z-index: 300;
}

.section_2 p:nth-child(4) {
    position: relative;
    color: white;
    top: 12vw;
    text-align: center;
    z-index: 300;
    font-size: 0.8vw;
}

.truck {
    background-image: url(../img/Main_sec_truck.jpg);
    background-position:center center;
    background-size:cover;
    display: flex;
    width: 100%;
    height: 30.2vw;
    z-index: 1;
}

.color-overlay {
    background: rgb(26, 26, 26);
    height: 30.2vw;
    width: 100%;
    z-index: 100;
    position: absolute;
    opacity: 0.85;
}

/* Video */

.item_video {
    height: 43vw;
}

.item_video iframe {
    object-fit: cover;
    position: relative;
    margin-top: -17vw;
    margin-left: 29vw;
    width: 42vw;
    height: 25.5vw;
    z-index: 200;
}

/* Section_3 */

.section_3 {
    height: 33vw;
    margin-top: 4vw;
    margin-left: 5.2vw;
    display: grid;
    grid-template-columns: 19.6vw 19.6vw 15.6vw 15.6vw;
    grid-template-rows: 3.1vw 4.2vw 2.6vw 13.5vw 5.2vw;
    grid-gap: 0.1vw 1.6vw;
    grid-auto-flow: column;
}              

.section_3 div {
    color:black;
    text-align: left;
}

.section_3 div:nth-child(1) {
    grid-row: 1/6;
    background-image: url(../img/plane.png);
    background-size: 100% 100%;
    transition: 0.3s;
}

.section_3 div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/6;
    background-image: url(../img/squid_loader.jpg);
    background-size: 100% 100%;
    transition: 0.3s;
}

.section_3 div:nth-child(1):hover,
.section_3 div:nth-child(2):hover {
    transform: scale(1.05, 1.05);
    box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.150);
}

.section_3 div:nth-child(3) {
    grid-column: 3/5;
    padding-left: 3vw;
    grid-row: 1/2;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section_3 div:nth-child(4) {
    grid-column: 3/5; 
    padding-left: 3vw;
    grid-row: 2/3;
    font-size: 0.8vw;
    font-weight: 400;
    opacity: 0.7;
}

.section_3 div:nth-child(5) hr {
    width: 5.5vw;
    height: 0.1vw;
    top: 1vw;
    left: 3vw;
    position: relative;
    color: red;
    background-color: rgb(195, 0, 0);
    border: none;
}

.choose ul {
    padding-top: 0.5vw;
    padding-left: 3vw;
    list-style: none;
    font-size: 0.8vw;
    font-weight: 600;   
}

.choose li {
    margin-bottom: 2vw;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}

.choose li::before {
    content: "\203A ";
    color:red;
    padding-right: 0.5vw;
}

.choose li:hover {
    transform: scale(1.05, 1.05);
}

.button3 {
    grid-column: 3/4;
    grid-row: 5;
    left: 3vw;
    position: relative;
    width: 14vw;
    height: 3vw;
    display: grid;
    align-items: center;
    background-color: rgb(200, 0, 0);
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.button3:hover,
.button3:active {
 
    background-color: rgba(99, 11, 11, 0.8);
    border-color: rgb(134, 13, 13);
    transition: background-color 0.2s ease-in, border-color 0.3s ease-in;
}

/* Section_4 */

.section_4 {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 4vw 10vw 7vw 7vw 7vw;
    grid-gap: 0 3vw;
    height: 35vw;
    background-color: rgb(235, 235, 235);
    justify-content: center;
}

/* Left Side */

.section_4 p:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.6vw;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 2.5vw;
}

.section_4 p:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 4vw;
    font-size: 0.9vw;
    color: red;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section_4 p:nth-child(2):before {
    content: '\2014';
    margin-right: 1.5vw;
}

.section_4 p:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 6vw;
    font-size: 0.9vw;
    margin-left: 2.2vw;
    line-height: 1.5vw;
    color: rgb(126, 126, 126);
}

.section_4 hr:nth-of-type(1) {
    width: 24vw;
    height: 0.1vw;
    grid-column: 1;
    grid-row: 3;
    top: 2vw;
    position: relative;
    background-color: #ccc;
    border: none;
}

.section_4 p:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
    margin-top: 4vw;
    font-size: 0.9vw;
    font-weight: 600;
}

.section_4 p:nth-child(5):before {
    content: '\002B';
    margin-right: 1.5vw;
}

.section_4 hr:nth-of-type(2) {
    width: 24vw;
    height: 0.1vw;
    grid-column: 1;
    grid-row: 4;
    position: relative;
    background-color: #ccc;
    border: none;
}

.section_4 p:nth-child(7) {
    grid-column: 1;
    grid-row: 4;
    margin-top: 2vw;
    font-size: 0.9vw;
    font-weight: 600;
}

.section_4 p:nth-child(7):before {
    content: '\002B';
    margin-right: 1.5vw;
}

.section_4 hr:nth-of-type(3) {
    width: 24vw;
    height: 0.1vw;
    grid-column: 1;
    grid-row: 4;
    top: 5.3vw;
    position: relative;
    background-color: #ccc;
    border: none;
}

.section_4 p:nth-child(9) {
    grid-column: 1;
    grid-row: 5;
    margin-top: 0.5vw;
    font-size: 0.9vw;
    font-weight: 600;
}

.section_4 p:nth-child(9):before {
    content: '\002B';
    margin-right: 1.5vw;
}

/* Right Side */

.section_4 p:nth-child(10) {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.6vw;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 2.5vw;
}

.pic_1 {
    grid-column: 2;
    grid-row: 2/3;
    width: 4vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-top: 4vw;
    margin-left: -0.3vw;
}

.section_4 h1:nth-of-type(1) {
    grid-column: 2;
    grid-row: 2;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: red;
    margin-top: 5vw;
    margin-left: 5vw;
}

.section_4 h2:nth-of-type(1) {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.6vw;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 160, 160);
    margin-top: 6.3vw;
    margin-left: 5vw;
}

.section_4 h3:nth-of-type(1) {
    grid-column: 2;
    grid-row: 3;
    font-size: 0.9vw;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(146, 145, 145);
    line-height: 1.5; 
}

.pic_2 {
    grid-column: 2;
    grid-row: 4;
    width: 4vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-left: -0.2vw;
}

.section_4 h1:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: red;
    margin-top: 1vw;
    margin-left: 5vw;
}

.section_4 h2:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
    font-size: 0.6vw;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(160, 160, 160);
    margin-top: 2.4vw;
    margin-left: 5vw;
}

.section_4 h3:nth-of-type(2){
    grid-column: 2;
    grid-row: 4/5;
    font-size: 0.9vw;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(146, 145, 145);
    line-height: 1.5;
    margin-top: 5.5vw; 
}

/* Section_5 */

.section_5 {
    height: 8vw;
    background-color: rgb(230, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section_5 h1:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2.5vw;
    margin-left: 22vw;
}

.section_5 h2:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 0.9vw;
    font-weight: 400;
    margin-left: 22vw;
    margin-top: 4.5vw;
}

.button4 {
    grid-column: 2;
    grid-row: 1;
    left: 7vw;
    top: 2.3vw;
    position: relative;
    width: 14vw;
    height: 3vw;
    display: grid;
    align-items: center;
    background-color: #242633;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.button4:hover,
.button4:active {
    background-color: grey;
    transition: background-color 0.2s ease-in, border-color 0.3s ease-in;
}

/* Footer */

footer {
    height: 27.6vw;
    background-color: #242633;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    grid-template-rows: 2fr 3fr 1.5fr;
    grid-column-gap: 2vw;
}

/* First row */

.footer_logo {
    grid-column: 1;
    grid-row: 1;
    width: 10vw;
    margin-top: 3.5vw;
    margin-left: 18vw;
}

.footer_logo:hover {
    transform: scale(1.05, 1.05);
}

footer p:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.7vw;
    color: #ccc;
    width: 12.2vw;
    height: 4vw;
    margin-left: 18vw;
    line-height: 1vw;
    opacity: 0.5;
}

.social {
    grid-column: 1;
    grid-row: 2;
    width: 45vw;
    zoom: 0.25;
	-moz-transform: scale(0.25);
	-moz-transform-origin: 0 0;
    margin-top: 18vw;
    margin-left: 72vw;
}

/* Second row */

footer h1:nth-of-type(1) {
    font-size: 0.7vw;
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-transform: uppercase;
    margin-top: 3vw;
    font-weight: 600;
}

footer hr:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    width: 3.5vw;
    margin-top: 4.5vw;
    border: none;
    color: red;
    background-color: rgb(195, 0, 0);
    height: 0.1vw;
}

footer ul:nth-of-type(1) {
    font-size: 0.8vw;
    grid-column: 2;
    grid-row: 1/3;
    margin-top: 6vw;
    color: rgb(200, 200, 200);
    line-height: 2vw;
}

footer li:hover {
    color: red;
}

footer ul>li {
    cursor: pointer;
}

/* Third row */

footer ul:nth-of-type(2) {
    font-size: 0.8vw;
    grid-column: 3;
    grid-row: 1/3;
    margin-top: 6vw;
    color: rgb(200, 200, 200);
    line-height: 2vw;
}

/* Fourth row */

footer h1:nth-of-type(2) {
    font-size: 0.7vw;
    grid-column: 4;
    grid-row: 1;
    color: white;
    text-transform: uppercase;
    margin-top: 3vw;
    font-weight: 600;
}

footer hr:nth-of-type(2) {
    grid-column: 4;
    grid-row: 1;
    width: 5.2vw;
    margin-top: 4.5vw;
    border: none;
    color: red;
    background-color: rgb(195, 0, 0);
    height: 0.1vw;
}

footer ul:nth-of-type(3) {
    width: 19vw;
    font-size: 0.8vw;
    grid-column: 4;
    grid-row: 1/3;
    margin-top: 6vw;
    color: rgb(200, 200, 200);
    line-height: 2vw;
    text-transform: capitalize;
}

footer .date {
    color: rgb(120, 120, 120);
    cursor: default;
}

footer li:nth-of-type(5) {
    line-height: 1vw;
}

footer li.date:hover {
    color: rgb(120, 120, 120);
}

footer hr:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 3;
    border: none;
    background-color: rgb(170, 170, 170);
    height: 0.01vw;
    width: 65.2vw;
    margin-left: 18.1vw;
    opacity: 0.7;
}

footer .loc {
    width: 1vw;
    height: 1vw;
    grid-column: 1/2;
    grid-row: 3;
    margin-left: 28vw;
    margin-top: 2.5vw;
}

footer .map {
    grid-column: 1/3;
    grid-row: 3;
    font-size: 0.7vw;
    margin-left: 30vw;
    margin-top: 2.6vw;
    color: rgb(120, 120, 120);
    width: 15vw;
    height: 1vw;
}

footer .call {
    width: 1.5vw;
    height: 1.5vw;
    grid-column: 2/4;
    grid-row: 3;
    margin-left: 11vw;
    margin-top: 2.2vw;
}

footer .phone {
    grid-column: 2/4;
    grid-row: 3;
    font-size: 0.7vw;
    margin-left: 13.5vw;
    margin-top: 2.6vw;
    color: rgb(120, 120, 120);
    width: 6vw;
    height: 1vw;
}

footer .mail {
    width: 1vw;
    height: 1vw;
    grid-column: 3/4;
    grid-row: 3;
    margin-left: 11vw;
    margin-top: 2.5vw;
}

footer .post {
    grid-column: 3/5;
    grid-row: 3;
    font-size: 0.7vw;
    margin-left: 13.5vw;
    margin-top: 2.6vw;
    color: rgb(120, 120, 120);
    width: 6vw;
    height: 1vw;
}

/* Copyright */

.bottom_footer {
    grid-column: 1/5;
    grid-row: 4;
    height: 2.6vw;
    background-color: #191b28;
}

.copyright {
    height: 1.6vw;
    text-align: center;
    padding-top: 1vw;
    font-weight: bold;
    font-size: 0.7vw;
    color: white;
}

.copyright span {
    opacity: 0.6;
}
